[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"html5lib" = "*"
imageio = "*"
pytesseract = "*"
tesseract-ocr = "*"
numpy = "*"
pillow = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.7"
