[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"html5lib" = "*"
imageio = "*"
pytesseract = "*"
numpy = "*"
pillow = ">=6.2.0"
markdown = "*"
xlwt = "*"
"beautifulsoup4" = "*"
chardet = "*"
flake8 = "*"
requests = "*"

[dev-packages]
yapf = "*"
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
